@import url('https://fonts.googleapis.com/css2?family=Parisienne&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
body {
    padding-left: 20px;
    padding-right: 20px;
    background-image: url(images/diferencia-licencia-pub-licencia-cafeteria-1.jpg);
}

h1 {
    text-align: center;
    font-size: 3em;
    margin-bottom: 5px;
    color: darkgoldenrod;
    font-family: "Parisienne", cursive;
}

#eslogan {
    font-family: "Caveat", cursive;
    text-align: center;
    margin: auto;
    font-size: 2em;
    color: cornsilk;
    border: 2px solid cornsilk;
    width: 40%;
}

h2 {
    color: "#FFE4C4";
    font-family: "Pacifico", cursive;   
}

p {
font-family: "Satisfy", cursive;
font-size: 1.2em;
/* color: #FFE4C4;*/


}

a:link {color: white;}
a:hover {font-weight: bold;}
a:active {color:darkgoldenrod;}
a:visited { color: white;}

#logo-cafe {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}
#contenedor-logo {
    Text-align: center;
}
ul li {
    color: white;
}

a {
    font-family: "Pacifico", cursive;
    text-decoration: none;
}

.texto-normal {
    color: cornsilk
}
/*Estilos de la carta*/
.fotocarta {
    height: 200px;
    width: 200px;
}
.categorias {
    background-color: darkgoldenrod;
    font-size: 2em;
    text-shadow: 3px 3px white;
}
table, th, td {
border: 3px solid darkgoldenrod ;
vertical-align: center;
width: 50%;
padding:20px ;
border-collapse: collapse;
}
table {
    background-color: cornsilk;
    font-family: "Satisfy", cursive;
    font-size: 1.5em;
    vertical-align: center;
    margin: auto;
    text-align: center;

}

label {
    font-family: "Caveat", cursive;
    color: cornsilk;
    size: 1.5em;
}

form {
    border: solid 2px darkgoldenrod;
    border-radius: 20px;
    width: 50%;
    margin: auto;
    padding: 30px;
    background-color: black;
}